/* Default styles */
* {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 300px !important;
  height: 200px !important;
}
span {
  font-weight: bold;
  color: blue;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

#Cat,
#CatFood,
#Toys {
  font-size: 32px;
  font-weight: bold;
  background-color: beige;
  border-radius: 30px;
}
#Cat {
  p {
    font-size: 18px;
  }
}
.Adoption {
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .Cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  button {
    border-radius: 15px;
    height: 2rem;
    color: blue;
    background-color: azure;
    box-shadow: black 3px 3px;
  }
  button:hover {
    color: blue;
    background-color: rgba(200, 100, 100, 0.2);
    
    box-shadow: black 3px 3px;
    
  }
}
/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
  header {
    font-size: 2rem;
  }

  #Cat,
  #CatFood,
  #Toys {
    font-size: 24px;
  }

  h2,
  h3,
  h4 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 400px) {
  header {
    font-size: 1.5rem;
  }

  #Cat,
  #CatFood,
  #Toys {
    font-size: 20px;
  }

  h2,
  h3,
  h4 {
    font-size: 20px;
  }
}
